{%extends 'hedgetrade/base.html'%} {%block content%}
<link rel="stylesheet" href="/static/css/hegdetrade.css">
<!-- Three -->
<section id="three" class="wrapper">

    <form method="post" action="/hedgetrade/addOrder">
         {%csrf_token%}
        <div class="container">

            <!-- Break -->
            <div class="12u$">
                <div class="select-wrapper">
                    <div class="site-selector">
                        平台1：
                        <select name="site1" id="site1">
                            <option value="fcoin">fcoin</option>
                            <option value="Coineal">Coineal</option>
                            <option value="huobi">huobi</option>
                        </select>
                    </div>
                    <div class="site-selector">
                        平台2：
                        <select name="site2" id="site2">
                            <option value="fcoin">fcoin</option>
                            <option value="Coineal">Coineal</option>
                            <option value="huobi">huobi</option>
                        </select>
                    </div>
                    <div class="site-selector">
                        币种1：
                        <select name="type1" id="type1">
                            <option value="btc">btc</option>
                            <option value="eth">eth</option>
                            <option value="usdt">usdt</option>
                        </select>
                    </div>
                    <div class="site-selector">
                        币种2：
                        <select name="type2" id="type2">
                            <option value="btc">btc</option>
                            <option value="eth">eth</option>
                            <option value="usdt">usdt</option>
                        </select>
                    </div>

                </div>
            </div>

            <!-- Break -->
            <div class="6u$" style="margin-left:5%; margin-top:150px">
                <ul class="actions">
                    <li>
                        <input type="submit" value="提交" />
                    </li>
                    <li>
                        <input type="reset" value="重置" />
                    </li>
                </ul>
            </div>
        </div>
    </form>
</section>
{%endblock%}