

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="index.html" class="logo">
                <strong>Projection</strong> by TEMPLATED</a>
            <nav id="nav">
                <a href="/">Home</a>
                <a href="/market">市场价格</a>
                <a href="/hedgetrade">对冲交易</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle">
                <span class="fa fa-bars"></span>
            </a>
        </div>
    </header>